<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper中定义的是mybatis对某些业务的sql语句 -->
<mapper namespace="com.sharebo.mapper.FeedbackMapper">
	<cache readOnly="true" size="500" flushInterval="120000" eviction="LRU"/>
	<!--添加用户反馈内容 -->
	<insert id="addFeedback" parameterType="com.sharebo.entity.Feedback">
		insert into Feedback(feedbackId,feedbackText,feedbackImage,userid,feedbackTime) values(UUID_SHORT(),#{feedbackText},#{feedbackImage},#{userid},#{feedbackTime})
	</insert>
</mapper>