<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper中定义的是mybatis对某些业务的sql语句 -->
<mapper namespace="com.sharebo.mapper.ParkcooperationMapper">
<cache readOnly="true" size="500" flushInterval="120000" eviction="LRU"/>
<!-- 添加停车场合作 -->
<insert id="insertParkcooperation" parameterType="com.sharebo.entity.dto.Parkcooperation">
   insert into parkcooperation(pcId,housId,contactName,phone,entrance,type,money,beginTime,endTime,cooperationintention,feeType) 
   value(UUID_SHORT(),#{housId},#{contactName},#{phone},#{entrance},#{type},#{money},#{beginTime},#{endTime},#{cooperationintention},#{feeType})
</insert>
</mapper>